.logoutButton{
  width: 231px;
height: 40px;
background: linear-gradient(180deg, #48AF78 0%, #42996B 100%);
border-radius: 10px;
}

.active{
  color: #72AA83;
  text-decoration: none;

}
a{
  text-decoration: none;
}
.MuiToggleButton-root > .Mui-selected{
background: #FDF307;
}